In [1]:
import pandas as pd
import numpy as np
from utils import preprocessing as pp
from configs import config

# main files
BUSINESS_DATA_FILEPATH = 'data/yelp_academic_dataset_business.json'
REVIEWS_DATA_FILEPATH = 'data/yelp_academic_dataset_review.json'
USERS_DATA_FILEPATH = 'data/yelp_academic_dataset_user.json'

# Additional data files
COUNTY_DATA_FILEPATH = 'data/county_data.csv'
STATES_DATA_FILEPATH = 'data/states_data.csv'
ZIPCODES_DATA_FILEPATH = 'data/zip_code_database.csv'
CPI_URL = 'https://en.wikipedia.org/wiki/Cook_Partisan_Voting_Index'
POP_DENSITY_FILEPATH = 'data/apportionment.csv'
INCOME_FILEPATH = 'data/zipcode2019/19zpallagi.csv'

In [2]:
print('server started')

server started

In [3]:
# Test loading income function

income = pp.load_income(INCOME_FILEPATH, config.COLS['income'])
income

,state,zipcode,n_returns,n_individuals,n_elderly_returns,adjusted_gross_income,n_retruns_w_tot_income,total_income_amount,income_per_return
0,AL,0,778210.0,1161150.0,144610.0,10158838.0,778140.0,10311099.0,13.249764
1,AL,0,525940.0,992420.0,113810.0,18974967.0,525940.0,19145621.0,36.402671
2,AL,0,285700.0,595680.0,82410.0,17535801.0,285700.0,17690402.0,61.919503
3,AL,0,179070.0,432180.0,57970.0,15546951.0,179070.0,15670456.0,87.510225
4,AL,0,257010.0,692450.0,85030.0,34974856.0,257010.0,35286228.0,137.295156
...,...,...,...,...,...,...,...,...,...
166154,WY,99999,3370.0,5770.0,1080.0,122741.0,3370.0,123918.0,36.770920
166155,WY,99999,2340.0,4600.0,890.0,144810.0,2340.0,145854.0,62.330769
166156,WY,99999,1740.0,3930.0,700.0,151288.0,1740.0,152439.0,87.608621
166157,WY,99999,2740.0,6990.0,1080.0,367993.0,2740.0,371662.0,135.643066
166158,WY,99999,850.0,2100.0,480.0,552036.0,850.0,557343.0,655.697647